<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><img src="images/logo-rappi-white.svg" /></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <span class="products-count" data-ng-class="{'active': vm.countProd.length > 0}"><i class="fa fa-cart-arrow-down"></i><span>{{vm.countProd}}</span></span>
  </div>
</nav>
