<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget-search">
          <label>Search: <input ng-model="searchText"></label>
          <i class="fa fa-chevron-down" aria-hidden="true" ng-hide="filter" data-ng-click="filter = true;"></i>
          <i class="fa fa-chevron-up" aria-hidden="true" ng-show="filter" data-ng-click="filter = false;"></i>
        </div>
        <div class="widget-filter" ng-show="filter">
          <h4 class="filters-title">Filters</h4>
          <div class="filter-category">
            <span ng-repeat="category in vm.categories" ng-bind-html="category.icon"></span>
          </div>
          <div class="filters">
            <button class="btn filters-color">Avaiables Products</button>
            <button class="btn filters-color">Unavailables Products</button>
            <button class="btn filters-color">best Seller</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="widget red">
          <div ht-widget-header title="{{vm.title}}"></div>
        </div>
      </div>
      <div class="row widget-container">
        <div class="widget-products">
          <div class="col-xs-12 col-md-3 col-sm-4 col-lg-3" data-ng-repeat="product in vm.products | filter:searchText">
            <div class="wrapper">
              <img data-ng-src="{{product.img}}" />
              <div class="title-wrapper">
                <p>{{product.name}}</p>
              </div>
              <div class="description-wrapper">
                <p>{{product.description}}</p>
              </div>
              <div class="price-wrapper">
                <p>${{product.price}}</p>
              </div>
              <div class="available-wrapper">
                <span class="label-green" data-ng-if="product.available">Available</span>
                <span class="label-red" data-ng-if="!product.available">Unavailable</span>
              </div>
              <div class="category-wrapper">
                <span data-ng-repeat="pro in product.categoryObject" ng-bind-html="pro.icon" title="{{pro.name}}"></span>
              </div>
              <div class="action-wrapper" ng-if="product.available">
                <button data-ng-click="vm.addCart(product)">add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
